src/main/resources/WSWebMFM.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.mfm.com.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web.mfm.com.mx/" name="WSWebMFM">
<types>
<xsd:schema>
<xsd:import namespace="http://web.mfm.com.mx/" schemaLocation="WSWebMFM.xsd"/>
</xsd:schema>
</types>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="Logout">
<part name="parameters" element="tns:Logout"/>
</message>
<message name="LogoutResponse">
<part name="parameters" element="tns:LogoutResponse"/>
</message>
<message name="GetModifyAccount">
<part name="parameters" element="tns:GetModifyAccount"/>
</message>
<message name="GetModifyAccountResponse">
<part name="parameters" element="tns:GetModifyAccountResponse"/>
</message>
<message name="BankServiceException">
<part name="fault" element="tns:BankServiceException"/>
</message>
<message name="GetDenyRegister">
<part name="parameters" element="tns:GetDenyRegister"/>
</message>
<message name="GetDenyRegisterResponse">
<part name="parameters" element="tns:GetDenyRegisterResponse"/>
</message>
<message name="GetAuthorizeChanges">
<part name="parameters" element="tns:GetAuthorizeChanges"/>
</message>
<message name="GetAuthorizeChangesResponse">
<part name="parameters" element="tns:GetAuthorizeChangesResponse"/>
</message>
<message name="GetTransactionsData">
<part name="parameters" element="tns:GetTransactionsData"/>
</message>
<message name="GetTransactionsDataResponse">
<part name="parameters" element="tns:GetTransactionsDataResponse"/>
</message>
<message name="GetCreditValueDate">
<part name="parameters" element="tns:GetCreditValueDate"/>
</message>
<message name="GetCreditValueDateResponse">
<part name="parameters" element="tns:GetCreditValueDateResponse"/>
</message>
<message name="GetBiometricAccounts">
<part name="parameters" element="tns:GetBiometricAccounts"/>
</message>
<message name="GetBiometricAccountsResponse">
<part name="parameters" element="tns:GetBiometricAccountsResponse"/>
</message>
<message name="GetAccountStatement">
<part name="parameters" element="tns:GetAccountStatement"/>
</message>
<message name="GetAccountStatementResponse">
<part name="parameters" element="tns:GetAccountStatementResponse"/>
</message>
<message name="GetConfirmRegister">
<part name="parameters" element="tns:GetConfirmRegister"/>
</message>
<message name="GetConfirmRegisterResponse">
<part name="parameters" element="tns:GetConfirmRegisterResponse"/>
</message>
<message name="GetAdministration">
<part name="parameters" element="tns:GetAdministration"/>
</message>
<message name="GetAdministrationResponse">
<part name="parameters" element="tns:GetAdministrationResponse"/>
</message>
<message name="GetTransactionsInterbankConfirm">
<part name="parameters" element="tns:GetTransactionsInterbankConfirm"/>
</message>
<message name="GetTransactionsInterbankConfirmResponse">
<part name="parameters" element="tns:GetTransactionsInterbankConfirmResponse"/>
</message>
<message name="GetTransactionsInternationalConfirm">
<part name="parameters" element="tns:GetTransactionsInternationalConfirm"/>
</message>
<message name="GetTransactionsInternationalConfirmResponse">
<part name="parameters" element="tns:GetTransactionsInternationalConfirmResponse"/>
</message>
<message name="GetTransactionsInterbankAuthorize">
<part name="parameters" element="tns:GetTransactionsInterbankAuthorize"/>
</message>
<message name="GetTransactionsInterbankAuthorizeResponse">
<part name="parameters" element="tns:GetTransactionsInterbankAuthorizeResponse"/>
</message>
<message name="GetTransactionsInternbanklData">
<part name="parameters" element="tns:GetTransactionsInternbanklData"/>
</message>
<message name="GetTransactionsInternbanklDataResponse">
<part name="parameters" element="tns:GetTransactionsInternbanklDataResponse"/>
</message>
<message name="GetTransactionStateDetailInvestment">
<part name="parameters" element="tns:GetTransactionStateDetailInvestment"/>
</message>
<message name="GetTransactionStateDetailInvestmentResponse">
<part name="parameters" element="tns:GetTransactionStateDetailInvestmentResponse"/>
</message>
<message name="GetTransactionsInternationalData">
<part name="parameters" element="tns:GetTransactionsInternationalData"/>
</message>
<message name="GetTransactionsInternationalDataResponse">
<part name="parameters" element="tns:GetTransactionsInternationalDataResponse"/>
</message>
<message name="GetTransactionDetailBiometricAccount">
<part name="parameters" element="tns:GetTransactionDetailBiometricAccount"/>
</message>
<message name="GetTransactionDetailBiometricAccountResponse">
<part name="parameters" element="tns:GetTransactionDetailBiometricAccountResponse"/>
</message>
<message name="GetRegisterInternationalAccount">
<part name="parameters" element="tns:GetRegisterInternationalAccount"/>
</message>
<message name="GetRegisterInternationalAccountResponse">
<part name="parameters" element="tns:GetRegisterInternationalAccountResponse"/>
</message>
<message name="GetConfirmDataInterbankRegister">
<part name="parameters" element="tns:GetConfirmDataInterbankRegister"/>
</message>
<message name="GetConfirmDataInterbankRegisterResponse">
<part name="parameters" element="tns:GetConfirmDataInterbankRegisterResponse"/>
</message>
<message name="GetConfirmDataInternationalRegister">
<part name="parameters" element="tns:GetConfirmDataInternationalRegister"/>
</message>
<message name="GetConfirmDataInternationalRegisterResponse">
<part name="parameters" element="tns:GetConfirmDataInternationalRegisterResponse"/>
</message>
<message name="GetConfrmInternationalRegister">
<part name="parameters" element="tns:GetConfrmInternationalRegister"/>
</message>
<message name="GetConfrmInternationalRegisterResponse">
<part name="parameters" element="tns:GetConfrmInternationalRegisterResponse"/>
</message>
<message name="GetAdministrationPersonalProfile">
<part name="parameters" element="tns:GetAdministrationPersonalProfile"/>
</message>
<message name="GetAdministrationPersonalProfileResponse">
<part name="parameters" element="tns:GetAdministrationPersonalProfileResponse"/>
</message>
<message name="GetAdministrarionGeneralProfile">
<part name="parameters" element="tns:GetAdministrarionGeneralProfile"/>
</message>
<message name="GetAdministrarionGeneralProfileResponse">
<part name="parameters" element="tns:GetAdministrarionGeneralProfileResponse"/>
</message>
<message name="GetAdministrationUserSignature">
<part name="parameters" element="tns:GetAdministrationUserSignature"/>
</message>
<message name="GetAdministrationUserSignatureResponse">
<part name="parameters" element="tns:GetAdministrationUserSignatureResponse"/>
</message>
<message name="GetAdministrationUserPassword">
<part name="parameters" element="tns:GetAdministrationUserPassword"/>
</message>
<message name="GetAdministrationUserPasswordResponse">
<part name="parameters" element="tns:GetAdministrationUserPasswordResponse"/>
</message>
<message name="GetAdministrationAccountsAlertConfig">
<part name="parameters" element="tns:GetAdministrationAccountsAlertConfig"/>
</message>
<message name="GetAdministrationAccountsAlertConfigResponse">
<part name="parameters" element="tns:GetAdministrationAccountsAlertConfigResponse"/>
</message>
<message name="GetAdministrationAccountsPermissions">
<part name="parameters" element="tns:GetAdministrationAccountsPermissions"/>
</message>
<message name="GetAdministrationAccountsPermissionsResponse">
<part name="parameters" element="tns:GetAdministrationAccountsPermissionsResponse"/>
</message>
<message name="GetAgreedOperationDetail">
<part name="parameters" element="tns:GetAgreedOperationDetail"/>
</message>
<message name="GetAgreedOperationDetailResponse">
<part name="parameters" element="tns:GetAgreedOperationDetailResponse"/>
</message>
<message name="GetAccountsInvestment">
<part name="parameters" element="tns:GetAccountsInvestment"/>
</message>
<message name="GetAccountsInvestmentResponse">
<part name="parameters" element="tns:GetAccountsInvestmentResponse"/>
</message>
<message name="GetTransactionConfirm">
<part name="parameters" element="tns:GetTransactionConfirm"/>
</message>
<message name="GetTransactionConfirmResponse">
<part name="parameters" element="tns:GetTransactionConfirmResponse"/>
</message>
<message name="GetTransactionsAuthorize">
<part name="parameters" element="tns:GetTransactionsAuthorize"/>
</message>
<message name="GetTransactionsAuthorizeResponse">
<part name="parameters" element="tns:GetTransactionsAuthorizeResponse"/>
</message>
<message name="GetRegisterNewAccount">
<part name="parameters" element="tns:GetRegisterNewAccount"/>
</message>
<message name="GetRegisterNewAccountResponse">
<part name="parameters" element="tns:GetRegisterNewAccountResponse"/>
</message>
<message name="GetRegisterInterbankAccount">
<part name="parameters" element="tns:GetRegisterInterbankAccount"/>
</message>
<message name="GetRegisterInterbankAccountResponse">
<part name="parameters" element="tns:GetRegisterInterbankAccountResponse"/>
</message>
<message name="GetConfirmDataRegister">
<part name="parameters" element="tns:GetConfirmDataRegister"/>
</message>
<message name="GetConfirmDataRegisterResponse">
<part name="parameters" element="tns:GetConfirmDataRegisterResponse"/>
</message>
<message name="GetConfirmInterbankRegister">
<part name="parameters" element="tns:GetConfirmInterbankRegister"/>
</message>
<message name="GetConfirmInterbankRegisterResponse">
<part name="parameters" element="tns:GetConfirmInterbankRegisterResponse"/>
</message>
<message name="GetPendingOperationsCredit">
<part name="parameters" element="tns:GetPendingOperationsCredit"/>
</message>
<message name="GetPendingOperationsCreditResponse">
<part name="parameters" element="tns:GetPendingOperationsCreditResponse"/>
</message>
<message name="GetCreditTransactions">
<part name="parameters" element="tns:GetCreditTransactions"/>
</message>
<message name="GetCreditTransactionsResponse">
<part name="parameters" element="tns:GetCreditTransactionsResponse"/>
</message>
<message name="GetPaidOperationDetail">
<part name="parameters" element="tns:GetPaidOperationDetail"/>
</message>
<message name="GetPaidOperationDetailResponse">
<part name="parameters" element="tns:GetPaidOperationDetailResponse"/>
</message>
<message name="GetCreditExpirationDate">
<part name="parameters" element="tns:GetCreditExpirationDate"/>
</message>
<message name="GetCreditExpirationDateResponse">
<part name="parameters" element="tns:GetCreditExpirationDateResponse"/>
</message>
<message name="GetTransactionInvestmentAccountDetail">
<part name="parameters" element="tns:GetTransactionInvestmentAccountDetail"/>
</message>
<message name="GetTransactionInvestmentAccountDetailResponse">
<part name="parameters" element="tns:GetTransactionInvestmentAccountDetailResponse"/>
</message>
<message name="GetTransactionsInternationalAuthorize">
<part name="parameters" element="tns:GetTransactionsInternationalAuthorize"/>
</message>
<message name="GetTransactionsInternationalAuthorizeResponse">
<part name="parameters" element="tns:GetTransactionsInternationalAuthorizeResponse"/>
</message>
<message name="GetAuthorizePendingOperationsUserChanges">
<part name="parameters" element="tns:GetAuthorizePendingOperationsUserChanges"/>
</message>
<message name="GetAuthorizePendingOperationsUserChangesResponse">
<part name="parameters" element="tns:GetAuthorizePendingOperationsUserChangesResponse"/>
</message>
<portType name="WSWebMFM">
<operation name="Login">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="Logout">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/LogoutRequest" message="tns:Logout"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/LogoutResponse" message="tns:LogoutResponse"/>
</operation>
<operation name="GetModifyAccount">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetModifyAccountRequest" message="tns:GetModifyAccount"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetModifyAccountResponse" message="tns:GetModifyAccountResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetModifyAccount/Fault/BankServiceException"/>
</operation>
<operation name="GetDenyRegister">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetDenyRegisterRequest" message="tns:GetDenyRegister"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetDenyRegisterResponse" message="tns:GetDenyRegisterResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetDenyRegister/Fault/BankServiceException"/>
</operation>
<operation name="GetAuthorizeChanges">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAuthorizeChangesRequest" message="tns:GetAuthorizeChanges"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAuthorizeChangesResponse" message="tns:GetAuthorizeChangesResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAuthorizeChanges/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionsData">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsDataRequest" message="tns:GetTransactionsData"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsDataResponse" message="tns:GetTransactionsDataResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsData/Fault/BankServiceException"/>
</operation>
<operation name="GetCreditValueDate">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditValueDateRequest" message="tns:GetCreditValueDate"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditValueDateResponse" message="tns:GetCreditValueDateResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditValueDate/Fault/BankServiceException"/>
</operation>
<operation name="GetBiometricAccounts">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetBiometricAccountsRequest" message="tns:GetBiometricAccounts"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetBiometricAccountsResponse" message="tns:GetBiometricAccountsResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetBiometricAccounts/Fault/BankServiceException"/>
</operation>
<operation name="GetAccountStatement">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAccountStatementRequest" message="tns:GetAccountStatement"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAccountStatementResponse" message="tns:GetAccountStatementResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAccountStatement/Fault/BankServiceException"/>
</operation>
<operation name="GetConfirmRegister">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmRegisterRequest" message="tns:GetConfirmRegister"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmRegisterResponse" message="tns:GetConfirmRegisterResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmRegister/Fault/BankServiceException"/>
</operation>
<operation name="GetAdministration">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationRequest" message="tns:GetAdministration"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationResponse" message="tns:GetAdministrationResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministration/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionsInterbankConfirm">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInterbankConfirmRequest" message="tns:GetTransactionsInterbankConfirm"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInterbankConfirmResponse" message="tns:GetTransactionsInterbankConfirmResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInterbankConfirm/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionsInternationalConfirm">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalConfirmRequest" message="tns:GetTransactionsInternationalConfirm"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalConfirmResponse" message="tns:GetTransactionsInternationalConfirmResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalConfirm/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionsInterbankAuthorize">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInterbankAuthorizeRequest" message="tns:GetTransactionsInterbankAuthorize"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInterbankAuthorizeResponse" message="tns:GetTransactionsInterbankAuthorizeResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInterbankAuthorize/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionsInternbanklData">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternbanklDataRequest" message="tns:GetTransactionsInternbanklData"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternbanklDataResponse" message="tns:GetTransactionsInternbanklDataResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternbanklData/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionStateDetailInvestment">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionStateDetailInvestmentRequest" message="tns:GetTransactionStateDetailInvestment"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionStateDetailInvestmentResponse" message="tns:GetTransactionStateDetailInvestmentResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionStateDetailInvestment/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionsInternationalData">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalDataRequest" message="tns:GetTransactionsInternationalData"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalDataResponse" message="tns:GetTransactionsInternationalDataResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalData/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionDetailBiometricAccount">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionDetailBiometricAccountRequest" message="tns:GetTransactionDetailBiometricAccount"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionDetailBiometricAccountResponse" message="tns:GetTransactionDetailBiometricAccountResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionDetailBiometricAccount/Fault/BankServiceException"/>
</operation>
<operation name="GetRegisterInternationalAccount">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterInternationalAccountRequest" message="tns:GetRegisterInternationalAccount"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterInternationalAccountResponse" message="tns:GetRegisterInternationalAccountResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterInternationalAccount/Fault/BankServiceException"/>
</operation>
<operation name="GetConfirmDataInterbankRegister">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataInterbankRegisterRequest" message="tns:GetConfirmDataInterbankRegister"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataInterbankRegisterResponse" message="tns:GetConfirmDataInterbankRegisterResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataInterbankRegister/Fault/BankServiceException"/>
</operation>
<operation name="GetConfirmDataInternationalRegister">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataInternationalRegisterRequest" message="tns:GetConfirmDataInternationalRegister"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataInternationalRegisterResponse" message="tns:GetConfirmDataInternationalRegisterResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataInternationalRegister/Fault/BankServiceException"/>
</operation>
<operation name="GetConfrmInternationalRegister">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfrmInternationalRegisterRequest" message="tns:GetConfrmInternationalRegister"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfrmInternationalRegisterResponse" message="tns:GetConfrmInternationalRegisterResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfrmInternationalRegister/Fault/BankServiceException"/>
</operation>
<operation name="GetAdministrationPersonalProfile">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationPersonalProfileRequest" message="tns:GetAdministrationPersonalProfile"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationPersonalProfileResponse" message="tns:GetAdministrationPersonalProfileResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationPersonalProfile/Fault/BankServiceException"/>
</operation>
<operation name="GetAdministrarionGeneralProfile">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrarionGeneralProfileRequest" message="tns:GetAdministrarionGeneralProfile"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrarionGeneralProfileResponse" message="tns:GetAdministrarionGeneralProfileResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrarionGeneralProfile/Fault/BankServiceException"/>
</operation>
<operation name="GetAdministrationUserSignature">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationUserSignatureRequest" message="tns:GetAdministrationUserSignature"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationUserSignatureResponse" message="tns:GetAdministrationUserSignatureResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationUserSignature/Fault/BankServiceException"/>
</operation>
<operation name="GetAdministrationUserPassword">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationUserPasswordRequest" message="tns:GetAdministrationUserPassword"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationUserPasswordResponse" message="tns:GetAdministrationUserPasswordResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationUserPassword/Fault/BankServiceException"/>
</operation>
<operation name="GetAdministrationAccountsAlertConfig">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationAccountsAlertConfigRequest" message="tns:GetAdministrationAccountsAlertConfig"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationAccountsAlertConfigResponse" message="tns:GetAdministrationAccountsAlertConfigResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationAccountsAlertConfig/Fault/BankServiceException"/>
</operation>
<operation name="GetAdministrationAccountsPermissions">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationAccountsPermissionsRequest" message="tns:GetAdministrationAccountsPermissions"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationAccountsPermissionsResponse" message="tns:GetAdministrationAccountsPermissionsResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAdministrationAccountsPermissions/Fault/BankServiceException"/>
</operation>
<operation name="GetAgreedOperationDetail">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAgreedOperationDetailRequest" message="tns:GetAgreedOperationDetail"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAgreedOperationDetailResponse" message="tns:GetAgreedOperationDetailResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAgreedOperationDetail/Fault/BankServiceException"/>
</operation>
<operation name="GetAccountsInvestment">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAccountsInvestmentRequest" message="tns:GetAccountsInvestment"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAccountsInvestmentResponse" message="tns:GetAccountsInvestmentResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAccountsInvestment/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionConfirm">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionConfirmRequest" message="tns:GetTransactionConfirm"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionConfirmResponse" message="tns:GetTransactionConfirmResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionConfirm/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionsAuthorize">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsAuthorizeRequest" message="tns:GetTransactionsAuthorize"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsAuthorizeResponse" message="tns:GetTransactionsAuthorizeResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsAuthorize/Fault/BankServiceException"/>
</operation>
<operation name="GetRegisterNewAccount">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterNewAccountRequest" message="tns:GetRegisterNewAccount"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterNewAccountResponse" message="tns:GetRegisterNewAccountResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterNewAccount/Fault/BankServiceException"/>
</operation>
<operation name="GetRegisterInterbankAccount">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterInterbankAccountRequest" message="tns:GetRegisterInterbankAccount"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterInterbankAccountResponse" message="tns:GetRegisterInterbankAccountResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetRegisterInterbankAccount/Fault/BankServiceException"/>
</operation>
<operation name="GetConfirmDataRegister">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataRegisterRequest" message="tns:GetConfirmDataRegister"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataRegisterResponse" message="tns:GetConfirmDataRegisterResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmDataRegister/Fault/BankServiceException"/>
</operation>
<operation name="GetConfirmInterbankRegister">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmInterbankRegisterRequest" message="tns:GetConfirmInterbankRegister"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmInterbankRegisterResponse" message="tns:GetConfirmInterbankRegisterResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetConfirmInterbankRegister/Fault/BankServiceException"/>
</operation>
<operation name="GetPendingOperationsCredit">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetPendingOperationsCreditRequest" message="tns:GetPendingOperationsCredit"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetPendingOperationsCreditResponse" message="tns:GetPendingOperationsCreditResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetPendingOperationsCredit/Fault/BankServiceException"/>
</operation>
<operation name="GetCreditTransactions">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditTransactionsRequest" message="tns:GetCreditTransactions"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditTransactionsResponse" message="tns:GetCreditTransactionsResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditTransactions/Fault/BankServiceException"/>
</operation>
<operation name="GetPaidOperationDetail">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetPaidOperationDetailRequest" message="tns:GetPaidOperationDetail"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetPaidOperationDetailResponse" message="tns:GetPaidOperationDetailResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetPaidOperationDetail/Fault/BankServiceException"/>
</operation>
<operation name="GetCreditExpirationDate">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditExpirationDateRequest" message="tns:GetCreditExpirationDate"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditExpirationDateResponse" message="tns:GetCreditExpirationDateResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetCreditExpirationDate/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionInvestmentAccountDetail">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionInvestmentAccountDetailRequest" message="tns:GetTransactionInvestmentAccountDetail"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionInvestmentAccountDetailResponse" message="tns:GetTransactionInvestmentAccountDetailResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionInvestmentAccountDetail/Fault/BankServiceException"/>
</operation>
<operation name="GetTransactionsInternationalAuthorize">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalAuthorizeRequest" message="tns:GetTransactionsInternationalAuthorize"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalAuthorizeResponse" message="tns:GetTransactionsInternationalAuthorizeResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetTransactionsInternationalAuthorize/Fault/BankServiceException"/>
</operation>
<operation name="GetAuthorizePendingOperationsUserChanges">
<input wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAuthorizePendingOperationsUserChangesRequest" message="tns:GetAuthorizePendingOperationsUserChanges"/>
<output wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAuthorizePendingOperationsUserChangesResponse" message="tns:GetAuthorizePendingOperationsUserChangesResponse"/>
<fault message="tns:BankServiceException" name="BankServiceException" wsam:Action="http://web.mfm.com.mx/WSWebMFM/GetAuthorizePendingOperationsUserChanges/Fault/BankServiceException"/>
</operation>
</portType>
<binding name="WSWebMFMPortBinding" type="tns:WSWebMFM">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Logout">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetModifyAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetDenyRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAuthorizeChanges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionsData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetCreditValueDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetBiometricAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAccountStatement">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetConfirmRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAdministration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionsInterbankConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionsInternationalConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionsInterbankAuthorize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionsInternbanklData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionStateDetailInvestment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionsInternationalData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionDetailBiometricAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetRegisterInternationalAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetConfirmDataInterbankRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetConfirmDataInternationalRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetConfrmInternationalRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAdministrationPersonalProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAdministrarionGeneralProfile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAdministrationUserSignature">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAdministrationUserPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAdministrationAccountsAlertConfig">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAdministrationAccountsPermissions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAgreedOperationDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAccountsInvestment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionConfirm">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionsAuthorize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetRegisterNewAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetRegisterInterbankAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetConfirmDataRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetConfirmInterbankRegister">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetPendingOperationsCredit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetCreditTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetPaidOperationDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetCreditExpirationDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionInvestmentAccountDetail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetTransactionsInternationalAuthorize">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
<operation name="GetAuthorizePendingOperationsUserChanges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BankServiceException">
<soap:fault name="BankServiceException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSWebMFM">
<port name="WSWebMFMPort" binding="tns:WSWebMFMPortBinding">
<soap:address location="http://localhost:8080/Web/WSWebMFM"/>
</port>
</service>
</definitions>